body {
  padding-top: 100px;
  background-color: hsl(0, 0%, 96%);
  height: 100%;
}

#site-header {
  padding-bottom: 50px;
}

#site-title {
  background-image: url("concert-crowd.png");
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;
}

.title.tile-header:not(:last-child) {
    cursor: pointer;
    margin-bottom: 0;
}

.band-listing:hover {
  background-color: hsl(0, 0%, 29%);
}

.tile-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.is-child.show {
    display: block;
    background-color: hsl(0, 0%, 29%);
}

#loader {
  display: flex;
  margin: 0 50%;
}

@media only screen and (max-width: 425px) {
  iframe {
    width: 100%;
    height: 200px;
  }
}

@media only screen and (max-width: 1087px) {
  body {
    padding-top: 0;
  }

  #site-title {
    background-image: url("concert.gif");
  }
}

@media only screen and (min-width: 1088px) and (max-width: 1280px) {
  #site-title {
    height: 410px;
    background-position: center top;
    padding-bottom: 15px;
  }
}

@media only screen and (min-width: 1472px) {
  #site-title {
    height: 470px;
  }
}
