/* body {
  padding-top: 100px;
  background-color: hsl(0, 0%, 96%); */
  /* height: 100%;
}

#site-header {
  padding-bottom: 50px;
}

#site-title h1, #site-title p {

}

#site-title {
  background-image: url("concert-crowd.png");
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;
} */

#container {
  margin: 55vh 0;
  padding: 50px;
  outline: 1px dashed orange;
}

#block {
  padding: 10px;
  border: 1px solid black;
  font-family: Helvetica;
}

.dynamicContent #loader {

}

.box1 {
  height: 100px;
  width: 100px;
}

#loader {
  display: flex;
  margin: 0 50%;
}